.contentsection{

    width: 1387px;
    height: 117px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    text-align: left;
}