.sectioncontainer{
    margin-bottom: 100px;
}
#mainimage {
  flex: Left;
  margin-right: 80px;
  width: 200px;
  height: 200px;
}

#alternatetitle {
  position: relative;
  left: 430px;
  top: -40px;
  margin-bottom: -50px;
}

.alterimage {
  flex: right;
  margin-right: 60px;
  width: 200px;
  height: 200px;
}

#maintitle {
  position: relative;
  margin-left: 30px;
}

#Or {
  position: relative;
  left: 500px;
  top: 120px;
}

/* #new{
    width: 40px;
    height: 20px;
    background-color: rgba(245, 177, 0, 0.5);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    align-self: center;
    padding: 2px;
    box-sizing: border-box;
} */


#leftside{
    position: relative;
    text-align: left;
    display:inline-block;
    margin-right:200px;
    width: 40px;
    height: 20px;
    background-color: rgba(245, 177, 0, 0.5);
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    align-self: center;
    padding: 5px;
    padding-left: 8.5px;
    box-sizing: border-box;
}



#rightside{
    text-align:right;
    display:inline-block;
}



#leftside2{
    position: relative;
    text-align: left;
    display:inline-block;
    top:-22px;
    margin-right:200px;
    width: 82px;
    height: 20px;
    background-color: rgba(245, 177, 0, 0.5);
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    align-self: center;
    padding: 5px;
    box-sizing: border-box;
}

#currentstate{
    padding : 10px;
}


